[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
twine = "*"

[packages]
# [requires]
# python_version = "3.7"
autopep8 = {editable = true,path = "."}

[scripts]
start = "python kueventparser/core.py get_all"
test = "tox"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
clean = "rm -rf ./dist/*"
publish = "rm -rf ./dist/* && python setup.py sdist && twine upload ./dist/*"
publish_test = "rm -rf ./dist/* && python setup.py sdist && twine upload --repository pypitest ./dist/*"
